TELEGRAM_TOKEN=replace-with-telegram-bot-token
DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/DB_NAME
MOEX_REFRESH_INTERVAL_SECONDS=900
T_INVEST_TOKEN=replace-with-read-only-t-invest-token
SSL_TBANK_VERIFY=true
